
<h1>Recherche de geeks :</h1>

<!--       
 <select ng-model="model.id" convert-to-number>
  <option value="0">Zero</option>
  <option value="1">One</option>
  <option value="2">Two</option>
</select>-->
<p>Centre d'interet :
<li><select
	ng-options="centreinteret.nom for centreinteret in centreinterets">
</select></li>
</p>



<label>Genre</label>
<div>
	<label> <input name="genre" id="genre-M" value="M"
		checked="checked" ng-checked=true type="radio" ng-model="genre">
		Homme
	</label> <label> <input name="genre" id="genre-W" value="W"
		type="radio" ng-model="genre"> Femme
	</label>
</div>


<p>
<label>Centre d interet</label>
<div>
	<select>
		<option value="0" ng-selected="selected">Java</option>
		<option value="1">C#</option>
	</select>
</div>
</p>
